[Unit]
Description=redmine server
 
[Service]
Type=simple
User=redmine
Group=root
WorkingDirectory=/opt/redmine/
ExecStart=/usr/local/bin/redmine
Restart=always

[Install]
WantedBy=multi-user.target
